In [1]:
import pandas as pd

In [2]:
import requests

In [4]:
medals = requests.get('https://www.bbc.com/sport/disability-sport/58267874')

In [6]:
from bs4 import BeautifulSoup as bs

In [8]:
medals = requests.get('https://www.bbc.com/sport/disability-sport/58267874')
gold = bs(medals.content, 'lxml')

In [9]:
table = gold.find("table", {"class":"gs-o-table story-body__table"})

In [10]:
pd.read_html(str(table))[0]

    Rank         Country  Gold  Silver  Bronze  Total
0      1           China    96      60      51    207
1      2   Great Britain    41      38      45    124
2      3             USA    37      36      31    104
3      4             RPC    36      33      49    118
4      5     Netherlands    25      17      17     59
..   ...             ...   ...     ...     ...    ...
81    78      Montenegro     0       0       1      1
82    78            Oman     0       0       1      1
83    78           Qatar     0       0       1      1
84    78  Chinese Taipei     0       0       1      1
85    78          Uganda     0       0       1      1

[86 rows x 6 columns]